<div class="col-xs-5" >
    <ul class="nav nav-tabs tabs-left">
      {{#each categories as |category|}}
      	<li class="{{expand-category category.id categoryId}}"><a href="#" {{action "getItems" category.id  preventDefault=true}} data-toggle="tab">
      	{{category.name}}</a></li>
      {{/each}}
    </ul>
    {{panigation-without-linkto-component meta=metaCategory actionReturn='gotoPageCategory'}}
</div>
<div class="col-xs-7">
	<table class="table table-bordered table-list">
		<thead>
			<tr>
				<th>order</th>
				<th>name</th>
				<th>price</th>
				<th>amount</th>
			</tr>
		</thead>
		<tbody>
			{{#each items as |item index|}}
			<tr>
				<td class="center">{{order-number-flow-page index metaItem.number}}</td>
				<td>{{item.name}}</td>
				<td class="number">{{item.price}}</td>
				<td class="number">{{item.amount}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{panigation-without-linkto-component meta=metaItem actionReturn='gotoPageItem'}}
</div>